body { width: 99%;
  height: auto;
   background: url(img/111432r32.jpg)  no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;

}
h3 {
  color: #fbfbfb;
  font-size: 120%;

}
.home {
display: flex;
flex-direction: row;
margin-top: -30%;
align-items:  center;


}
  .container {
  display: inline-flex;
flex-direction: row;
}
.steklo {
  display: flex;
  position: absolute;
  align-items: flex-start;
  z-index: -2;

}
.steklo>img { object-fit: cover;
    width: 100%;
    height: 640px;}
.home a img {
  margin-left: 10%;
  margin-top: 10%;
  width: 90%;
  filter:  contrast(30%);

}
a img:hover { filter:  none;
animation: none ease 3s;

}
a img {-webkit-animation: rotating 30s infinite linear;
	-moz-animation: rotating 30s infinite linear;
	-ms-animation: rotating 30s infinite linear;
	-o-animation: rotating 30s infinite linear;
	animation: rotating 30s infinite linear;
}

@-webkit-keyframes rotating {
	to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotating {
	to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotating {
	to { -ms-transform: rotate(360deg); }
}
@-o-keyframes rotating {
	to { -o-transform: rotate(360deg); }
}
@keyframes rotating {
	to { transform: rotate(360deg); }
}
